.main_header {
  width: 100%;
  min-height: 50vh;
  background-color: #ddd;
  background-image: url(../files/background.jpg);
  background-size: cover;
  background-position: center;
  display: block;
}

.logo {
  text-align: center;
  color: #f0f0f0;
  font-size: 36px;
  padding-top: 12%;
}

.budget_add_div {
  width: 400px;
  margin: auto;
  margin-top: 40px;
}

.container {
  margin-top: 40px;
}

.total_div {
  float: right;
  margin-top: 25px;
}
.my_budget_div {
  text-align: center;
  color: #fff;
  font-size: 28px;
}

.text {
    padding: 20px;
}